.Article {
  width: 100%; /* 最初はフル幅 */
  margin-bottom: 20px; /* 下のマージン */
}
.Article:last-child {
  margin: 0 0 28px 0;
}
.Article_Eyecatch {
  width: 100%; /* 元の固定幅からパーセンテージへ変更 */
  max-width: 150px; /* 最大幅を150pxに設定 */
  height: auto; /* 高さを自動調整に */
  aspect-ratio: 1; /* アスペクト比を1に設定 */
  margin: 0 auto 12px; /* 中央揃えに */
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}
.Article_Eyecatch > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.Article_EyecatchEmpty {
  background: #f8f8f8;
  width: 280px;
  height: 147px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Article_Data {
  flex: 1;
}
.Article_Title {
  font-size: 1.8rem;
  line-height: 1.5;
  margin: 0 0 10px;
  padding: 0;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.Article_Tags {
  margin: 0 0 8px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.Article_Tags li {
  margin: 0 4px 4px 0;
  padding: 0 4px;
  list-style: none;
  font-size: 1.2rem;
  color: #666;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}
.Article_Author {
  display: flex;
  align-items: center;
}
.Article_Author > img {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin: 0 12px 0 0;
  flex-shrink: 0;
}
.Article_Author img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  font-family: 'object-fit: cover'; /* IE11 */
}
.Article_AuthorEmpty {
  width: 32px;
  height: 32px;
  background: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  margin: 0 12px 0 0;
  flex-shrink: 0;
}
.Article_AuthorData {
  flex: 1;
}
.Article_AuthorData span {
  font-size: 1.2rem;
  font-weight: 700;
  display: block;
  line-height: 1.5;
}
.Article_AuthorData time {
  font-size: 1.2rem;
  display: block;
  color: #666;
  line-height: 1.5;
}
@media (min-width: 400px) {
  .Article {
    width: calc(50% - 10px); /* 600px以上で2列 */
  }
  .Article:hover .Article_Title {
    text-decoration: underline;
  }
  .Article:last-child {
    border-bottom: none;
    padding: 0 0 20px 0;
  }
  .Article_Eyecatch {
    width: 150px;
    height:150px;
    padding: 5px 0 0 0;
    border-radius: 4px;
    overflow: hidden;
    flex-shrink: 0;
    margin: 0 0 12px 0;
    position: relative
  }
  .Article_Eyecatch img {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
  }
  .Article_Title {
    margin: 0 0 12px;
  }
  .Article_Tags {
    margin: 0 0 16px;
  }
}
@media (min-width: 390px) {
  .Article {
    width: calc(50% - 10px); /* 600px以上で2列維持 */
  }
}
@media (min-width: 600px) {
  .Article {
    width: calc(33.333% - 13.333px); /* 960px以上で3列 */
  }
}

@media (max-width: 380px) {
  .Article {
    width: 100%; /* 599px以下では再度フル幅に */
  }
}